body {
    padding: 0px;
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
}

@font-face {
    font-family: "Norse Bold";
    src: url(fonts/Norse-Bold.otf);
}

.main {
    flex: 1 1 auto;
    display: flex;
}

.illustration {
    background-image: url('images/background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    width: 640px;
    height: 959px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.logo {
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 10px;
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo div {
    font-family: "Norse Bold";
}

.logo > img {
    width: 100px;
    height: auto;
}

.credits {
    font-size: 24px;
    align-self: center;
}

.credits a {
    color: white;
    text-decoration: underline;
}

.content {
    background-color: rgb(219, 219, 219);
    padding: 20px 10px 20px 10px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.info {
    font-size: 28px;
    font-weight: 400;
}

form {
    background-color: whitesmoke;
    font-weight: 400;
    padding: 20px;
    box-shadow: 2px 2px #bbbbbb;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.form-header {
    font-size: 22px;
    font-weight: 400;
}

.fields {
    font-size: 16px;
    display: flex;
    gap: 20px;
    align-self: stretch;
    display: flex;
    justify-content: stretch;
}

.col1, .col2 {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    border: 2px solid #E5E7EB;
}

input:focus {
    border: 2px solid blue;
}

input:invalid, .invalid {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 14px;
}

input[type="button"] {
    padding: 5px 20px;
    background-color: #596D48;
    color: white;
    font-size: 22px;
    border-radius: 5px;
}

.login a{
    color: green;
    text-decoration: none;
    font-weight: 600;
}